/*
.nav-bar{
    background-color: #FF0000;
}
.skills-bar p
{
    margin-bottom: 6px;
    font-weight: 600;
}
.progress
{
    border-radius: 16px !important;
    margin-bottom: 10px;
}
.progress-bar
{
    border-radius: 16px;
    backface-visibility: #000 !important;
}*/
.profile-img
{
    height: 400px;
}

.nav-bar
{
    top: 0;
    position: sticky;
    z-index: 2;
}

.nav-bar
{
    background-color: #FF0000;
}

.skills-bar p
{
    margin-bottom: 6px;
    font-weight: 600;
}
.progress
{
    border-radius: 16px !important;
    margin-bottom: 10px;
}
.progress-bar
{
    border-radius: 16px;
    background: #000 !important;
}
.body
{
/*    margin-left: px;*/
    padding: 400px;
    padding-top: 50px;
    
}

h1
{
    text-align: center;
    padding-bottom: 
}

#horizontal{
    height: 2px;
    color: blue;
    background-color: red;
    border: none;
}
/*
.address
{
    background: rgb(204,204,204);
}
*/
#block
{
    background: rgb(204,204,204);
}
#block-contant
{
    padding: 5px;
}
#heading{
    padding: 5px;
    color: blue;
}


table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
/*    padding: 15px;*/
    
    
}
th, td {
  padding: 15px;
  text-align: left;
}

/*
caro
{
    height: 500px;
    background-color: red;
}
*/


/*
table{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 15px;
}

.carousel-inner{
    height: 200px;
} 
.carousel-item img{
    height: 200px;
}
*/

.carousel-inner > .item > img {
  width:640px;
  height:360px;
}
